<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<%- include('./partials/nav') %>

    <body>

    <div class="cards-container">
        <h1> Welcome to My Portfolio</h1>
        <h2>Hi! I'm Ali Alasfoor</h2>
        <img src="images/personal.jpg" alt="Game Image">
        <p>I am a web devloper with a passion for building interactive browser based websites. I am currently focusing
            on HTML, CSS, and JavaScript</p>
        <br>
        <h3>Let's Connect</h3>
        <p id="links">
            <a href="https://github.com/3sfoor102"><i class="fa-brands fa-github"></i> GitHub</a> |
            <a href="https://www.linkedin.com/in/ali-alasfoor-6b9688346/"><i class="fa-brands fa-linkedin"></i> LinkedIn</a> |
            <a href="mailto:alialasfoorw@gmail.com"><i class="fa-solid fa-envelope"></i> Email Me</a>
        </p>
        </div>

    </body>

</html>